table,
tr,
td,
th {
    border: solid 1px grey;
    padding: 10px;
    text-align: center;
    border-collapse: collapse;
}

.table tbody tr:nth-child(odd) {
    background-color: #0e8628;
}

.table thead {
    font-weight: 800;
}
